@charset "UTF-8";

*{
	/* 폰트 'Noto Sans KR', sans-serif(고딕체) 두 가지 적용 */
	/* !important 강제적용 */
	font-family: 'Noto Sans KR', sans-serif !important;
	color: #363636;
}

/* 비밀번호 찾기 */
.findPwdiv {
	align-items: center;
  	display: flex;
  	flex-direction: column;
  	position: relative;
  	z-index: 1;
  	width: 100%;
  	height: 100%;
  	background-color: #fafafa;
}
/* 비밀번호 찾기(헤더,타이틀) */
.findPwHead {
	/* 위치 지정 */
  	width: 465px;
  	height: 32px;
	font-family: Noto Sans KR;
	font-size: 34px;
	font-weight: 550;
	color: #565656;
	text-align: center;
	margin-top: 150px;
	margin-bottom: 50px;
}

/* 비밀번호 찾기 양식 div */
.findPwFrame {
	/* 위치 지정 */
  	width: 422px;
  	height: 550px;
  	border-radius: 5px;
  	border: solid 1px #f2f2f2;
  	background-color: #fff;
  	margin-bottom: 100px;
}

/* 입력 폼 */
.findPwForm {
	font-family: Noto Sans KR;
	padding-top: 45px;
	padding-left: 30px;
}
th {
	font-size: 15pt;
}

/* input박스 */
.inputbox {
	width: 330px;
	height: 44px;
	margin-top: 6px;
	padding-left: 10px;
	font-size: 15pt;
	border-width: 1px;
	border-radius: 5px;
	border: 1px solid #e2e2e2;
}
/* placeholder속성 */
findPwTable::placeholder {
	font-size: 15pt;
}

/* 비밀번호 찾기 버튼 */
td.findPwBtn {
	padding-top: 54px;
}
.findPwBtn > span {
	cursor: pointer;
  	padding: 12px 120px; 
  	border-radius: 5px;
  	border-color: #1b93ff;
  	background-color: #1b93ff;
  	font-family: Noto Sans KR;
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	margin-bottom: 10px;
}

.preText {
	padding-top: 50px;
}
.preText pre {
	width: 225px;
	height: 55px;
	color: #999;
	font-size: 15px;
	font-family: Noto Sans KR;
	line-height: 1.43;
	margin-bottom: 20px;
}


