@charset "UTF-8";
/* [강나리] login css */
*{
	font-family: 'Noto Sans KR', sans-serif !important;
	color:#363636;
}
.main_login {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
.f_login {
  width: 200px;
  height: 35px;
  margin: 150px 0px 20px 0px;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  color: #565656;
}
.box_main_white {
  width: 423px;
  height: 510px;
  margin: 45px 745px 91px 752px;
  padding: 49px 42px 45px 39px;
  border-radius: 5px;
  border: solid 1px #f2f2f2;
  background-color: #fff;
}
input:focus {outline:2px solid #1b93ff;}
.f_email, .f_password {
  width: 43px;
  height: 20px;
  margin: 0 63px 9px 1px;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  color: #565656;
}
.email_input, .password_input{
  width: 400px;
  height: 60px;
  margin: 10px 0 25px 0;
  padding-left: 15px;
  border-radius: 5px;
  border: solid 1px #e6e6e6;
  font-size: 20px;
  color: #c1c1c1;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0 rgba(255, 75, 78, 0.23);
}
.f_pw_search {
  width: 300px;
  height: 17px;
  color: #8b8b8b;
  font-size: 17px;
  cursor: pointer;
  margin: 10px 0px 40px 0px;
  text-decoration: underline;
}
.bt_email_login {
  width: 420px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0 rgba(255, 75, 78, 0.23);
  text-align: center;
  font-size: 15pt;
  color: white;
  background-color: #1b93ff;
}
.bt_kakao_login {
  width: 420px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 0px solid white;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0 rgba(255, 75, 78, 0.23);
  text-align: center;
  font-size: 15pt;
  color: #312e2e;
  background-color: #fde92d;
}
.bt_gaip_login {
  width: 420px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 10px;
  border: 0px solid white;
  border-radius: 5px;
  text-align: center;
  font-size: 15pt;
  color: #8b8b8b;
  background-color: white;
}
/* [강나리] login css 끝 */